<div id="page_wrapper">
    <div id="profile_image">
        <%= image_tag "profile" %>
    </div>
    <div id="content">
        <h1>It's me!</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo minus eligendi veniam, eum ducimus atque placeat quam perferendis officia omnis expedita vero nesciunt, ipsam a neque in iste, incidunt, non.
        </p>
    </div>
</div>
